

.features {
  display: flex;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 80px auto;
}

.featureComponent {
  height: 300px;
  width: 300px;
}

.featureTitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

.featureDescription {
  font-style: "normal";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.featureTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 20px;
}

.featureComponentContainer {
  display: flex;
  margin: 0 20px;
  justify-content: flex-end;
}

.codeSnippet {
  background: #191015;
  border-radius: 6px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  height: 426px;
  line-height: 130%;
  margin-bottom: 12px;
  overflow: hidden;
  padding: 18px;
  width: 504px;
}

.codeSnippet pre {
  background: #191015;
  padding: 0;
  transition: all 1s;
  height: 90%;
}

.scrollBar {
  background: #F4F2F1;
  height: 14px;
  width: 6px;
  left: 18px;
  transition: all 0.5s;
}

.timeStamp {
  background:#D7CEC9 ;
  border-radius: 4px;
  display: flex;
  height: 32px;
  padding: 6px 12px;
  transition: all 3.3s;
  width: fit-content;
}

.timeStampText {
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  color: #191015;
}

.faceLookingDown{
  position: relative;
  width: 127px;
  top: -12rem;
  left: -6rem;
}

@media screen and (max-width: 996px) {
  .rowContainer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
