

.features {
  display: flex;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 80px auto;
}

.featureSvg {
  height: 300px;
  width: 300px;
}

.featureTitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

.featureDescription {
  font-style: "normal";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.featureTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 20px;
}

.featureSvgContainer {
  display: flex;
  margin: 0 20px;
  justify-content: flex-end;
}
