/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
  margin: 64px auto 0 auto;
  padding: 0 2rem;
}

.heroImage {
 margin-top: 4rem;
}

.titleContainer {
  display: flex;
}

.heroTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  color: #2F3458;
  line-height: 102px;
}

.heroSubtitle {
  color: #564E4A;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
}

.headerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 0 20px;
  max-width: 900px;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  background: #191015;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
}

.buttonTitle {
  color: #f4f2f1;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
}

.faceWinking {
  display: flex;
  width: 157px;
  margin-left: auto;
}

.heroButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 10px;
  background-color: var(--ifm-color-button);

  width: 240px;
  height: 56px;

  border: 1px solid #B6ACA6;
  border-radius: 4px;
 }


@media screen and (max-width: 700px) {
  .heroImage {
    display: none;
  }
  .heroTitle {
    font-size: 56px !important;
    line-height: 72px !important;
  }
  .heroBanner {
    padding: 1rem;
    padding-bottom: 5rem;
  }
  .headerRight {
    margin-left: 0 !important;
    align-items: center !important;
  }
  .col {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .faceWinking{
    margin-bottom: -25px;
  }
}

