/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
  margin: 64px auto 0 auto;
  padding: 0 2rem;
}

.heroImage {
 margin-top: 4rem;
}

.titleContainer {
  display: flex;
}

.heroTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 74px;
  line-height: 102px;
  color: #2F3458
}

.heroSubtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #564E4A;
  margin-bottom: 32px;
}

.headerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 0 20px;
  max-width: 900px;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  background: #191015;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
}

.buttonTitle {
  color: #f4f2f1;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
}

.faceWinking {
  display: flex;
  width: 157px;
  margin-left: auto;
}
