/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .newSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  width: 100%;
  padding: 25px 0;
 }

 .notificationSection {
  margin-bottom: 20px;
 }

 .notificationTag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;
  width: 103px;
  height: 29px;
  background: #E8C1B4;
 }

 .notificationTagText {
  color: #692810;
  font-size: 14px;
  line-height: 21px;
 }

.notificationTitle {
  margin-top: 8px;
  margin-bottom: 0;
  color: #41476E;
  font-size: 20px;
  line-height: 24px;
} 

.notificationDate {
  color: #564E4A;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;;
}

.notificationLink {
  margin-top: 8px;
  display: flex;
}

.notificationLink:hover {
  text-decoration: underline;
  text-decoration-color: #41476E;
}

.notificationLinkText {
  color: #41476E;
  font-size: 16px;
  line-height: 24px;
}

.heroBanner {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
  margin: 64px auto 0 auto;
  padding: 0 2rem;
}

.heroImage {
 margin-top: 4rem;
}



.titleContainer {
  display: flex;
}

.heroTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  color: #2F3458;
  line-height: 102px;
}

.heroSubtitle {
  color: #564E4A;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
}

.headerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 0 20px;
  max-width: 900px;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  background: #191015;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
}

.buttonTitle {
  color: #f4f2f1;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
}

.faceWinking {
  display: flex;
  width: 157px;
  margin-left: auto;
}

.heroButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 10px;
  background-color: var(--ifm-color-button);

  width: 240px;
  height: 56px;

  border: 1px solid #B6ACA6;
  border-radius: 4px;
 }


 .freshSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 50px auto;
  width: 100%;
  padding: 2rem;
 }

 .freshSectionHeader {
  color: #564E4A;
  font-size: 24px;
  line-height: 34px;
  padding: 5px;
 }

 .recipeWrapper {
  margin-top: 40px;
  padding: 5px;
 }

 .recipeWrapper:hover {
  background-color: rgba(86, 78, 74, 0.1);
  text-decoration: none;
 }

 .freshSectionTag {
  padding: 4px 12px;
  gap: 10px;
  background: #E8C1B4;
  width: fit-content;
  margin-bottom: 16px;
 }

 .freshSectionTagText {
  color: #692810;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;
 }

.freshSectionTitle {
  margin-bottom: 0;
  color: #41476E;
  font-size: 34px;
  line-height: 42px;
  margin-bottom: 8px;
} 

.freshSectionDate {
  color: #564E4A;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;;
}

.viewAllRecipes {
  font-size: 18px;
  line-height: 26px;
  color: #41476E;
  margin-top: 50px;
  padding: 5px;
}

.viewAllRecipes:hover {
  text-decoration: underline;
  text-decoration-color: #41476E;
  color: #41476E;
}


@media screen and (max-width: 700px) {
  .heroImage {
    display: none;
  }
  .heroTitle {
    font-size: 56px !important;
    line-height: 72px !important;
  }
  .heroBanner {
    padding: 1rem;
    padding-bottom: 5rem;
  }
  .headerRight {
    margin-left: 0 !important;
    align-items: center !important;
  }
  .col {
    padding: 0;
  }
  .newSection {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
  }
}

@media screen and (max-width: 500px) {
  .faceWinking{
    margin-bottom: -25px;
  }
}

