@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Space Grotesk';
  --ifm-color-primary: #e78a64;
  --ifm-color-primary-dark: #e37447;
  --ifm-color-primary-darker: #e06a39;
  --ifm-color-primary-darkest: #c9501f;
  --ifm-color-primary-light: #eba081;
  --ifm-color-primary-lighter: #eeaa8f;
  --ifm-color-primary-lightest: #f4cbba;
  --ifm-color-background: #F4F2F1 
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  background-color: var(--ifm-color-background)
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #e78a64;
  --ifm-color-primary-dark: #e37447;
  --ifm-color-primary-darker: #e06a39;
  --ifm-color-primary-darkest: #c9501f;
  --ifm-color-primary-light: #eba081;
  --ifm-color-primary-lighter: #eeaa8f;
  --ifm-color-primary-lightest: #f4cbba;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.code-block-error-line {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
}

.code-block-success-line {
  background-color: #00ff0020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #00ff0080;
}

/* Hero Title */
[class^='hero__title'] {
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 102px;
}
[class^='hero__subtitle'] {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
}


[class^='row footer__links'] {
  margin-left: 25rem;
  width: 80%;
  margin-top: 220px;
  margin-bottom: 220px;
}


[class^='footer__bottom'] {
  margin-left: -25rem;
  margin-top: -25rem;
  margin-bottom: 10rem;
  width: 80%;
}

[class^='button button--secondary button--lg heroButton']  {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 10px;
  background-color: var(--ifm-color-background);

  width: 240px;
  height: 56px;
  

  border: 1px solid #B6ACA6;
  border-radius: 4px;
 }




@media screen and (max-width: 996px) {

  [class^='footer__bottom'] {
    display: none;
  }
  
  
  [class^='row footer__links'] {
    margin-left: 20rem;
    width: 80%;
    margin-top: 220px;
    margin-bottom: 220px;
  }
}


@media screen and (max-width: 750px) {
  [class^='row footer__links'] {
    margin-left: 10rem;
    width: 80%;
    margin-top: 220px;
    margin-bottom: 220px;
  }
}

@media screen and (max-width: 1300px) {
  [class^='footer__bottom'] {
    margin-top: -25rem;
    margin-left: -15rem;
  }
  
}
